
.container{
    background-color: rgb(255, 255, 255);
}
@mixin galeria1($bgyellow){
background-color: $bgyellow;
border-radius: 5px;
padding: 1rem;
}
.galeria{
    @extend .galeria2;
    border: 3px;
}
/* menu */
.contenido{
    text-align: center;
    margin: 0;
    padding: 0;
    }
    /* galeria de imagenes */
    .datos{
    display: flex;
    justify-content: space-between;
    
    }   
    .datos p{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 14px;
    }
    .galeria1{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: start;
    }
    
    .galeria2{
    background-color:rgb(39, 37, 37) ;
    color: rgb(255, 255, 255);
    text-align:center;
    }
    /* segundo titulo */
    .info{
    font-family: 'Bebas Neue', cursive;
    background-color:#fcfc34;
    color: rgb(0, 0, 0);
    padding:3rem;
    font-size: 35px;
    text-align: center;
    }
    /* contenido de programacion */
    .contenidoinfo{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    }
    .tituloinfo2{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: start;
    }
     .contenidoinfo img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    }
    .contenidoinfo p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Asap Condensed', sans-serif;
    }
    /* contenido de programacion 2 */
    .contenidoinfo2{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
        
    }
    .tituloinfo3{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    margin-bottom: 50px;
    text-align:inherit}
    .contenidoinfo2 img{
    float:right;
    margin-left: 30px;
    margin-bottom: 50px;
    }
    .contenidoinfo2 p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Asap Condensed', sans-serif;
    }
    /* contenido de programacion 3 */
    .contenidoinfo3{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    }
    .tituloinfo4{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    margin-bottom: 30px;
    text-align:inherit;
    }
    .contenidoinfo3 img{
    float:left;
    margin-right: 30px;
    margin-bottom: 50px;
    }
    .contenidoinfo3 p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Asap Condensed', sans-serif;
    }
    /* seccion servicios */
    .titulolenguajes{
        text-align: center;
        padding: 50px;
    }
    /* carrousel */
    .carousel{
        background-color:rgb(0, 0, 0);
}